@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.canvas-fade {
  visibility: visible;
}

@-webkit-keyframes canvas-fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  to {
    visibility: visible;
    opacity: 0.2;
  }
}

@keyframes canvas-fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  to {
    visibility: visible;
    opacity: 0.2;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.3em;
  font-family: 'Poppins';
  font-size: 1.125rem;
  font-weight: 300;
  color: white;
  background: white;
  overflow-x: hidden;
  background-size: cover;
}

body.no-scroll {
  overflow: hidden;
}

#content {
  width: 100%;
  height: 100%;
  border: none;
}

#content iframe {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}

section {
  overflow: visible;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: white;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 2rem 0.05rem .00001rem .05rem;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: rgba(5, 53, 54, 0.733);
  border-style: none;
  font-weight: 500;
}

.button:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 1em;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  z-index: 1;
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: rgba(22, 154, 158, 0.733);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 6.4rem;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 53, 54, 0.733)), to(transparent));
  background-image: linear-gradient(rgba(5, 53, 54, 0.733), transparent);
  z-index: 99;
}

.header .overlay.fade-in {
  display: block;
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header nav {
  position: relative;
  padding: 5px 5px 5px 15px;
  background: rgba(22, 154, 158, 0.733);
  z-index: 999;
}

.header nav.open-menu {
  background: rgba(35, 115, 117, 0.6);
}

.header__logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: rgba(5, 53, 54, 0.733);
}

.header__logo > span {
  color: white;
}

.header__toggle > span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  border-radius: 50px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 2px;
          transform-origin: 3px 2px;
}

.header__toggle > span:nth-child(2) {
  background-color: rgba(5, 53, 54, 0.733);
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  background: #000000c7;
  margin: 1.5rem 1.5rem;
  padding: 1.8rem;
  border-radius: 15px;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-57.5%);
          transform: translateX(-57.5%);
  z-index: 99;
}

.header__menu a {
  display: block;
  color: white;
  padding: 1.625rem;
  text-align: center;
}

.header__menu a:hover {
  background-color: rgba(22, 154, 158, 0.733);
  border-radius: 15px;
  opacity: 0.8;
}

.header__links a {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: color 400ms ease-in-out;
  transition: color 400ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: rgba(5, 53, 54, 0.733);
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.header__links a:hover {
  color: rgba(5, 53, 54, 0.733);
}

.header__links a:hover::before {
  opacity: 1;
}

.header__buttons img {
  width: 50px;
}

@media screen and (min-width: 279px) {
  .header__menu {
    -webkit-transform: translateX(-59.5%);
            transform: translateX(-59.5%);
  }
}

@media screen and (min-width: 767px) {
  .header__menu {
    -webkit-transform: translateX(-53.5%);
            transform: translateX(-53.5%);
  }
}

@media screen and (min-width: 539px) {
  .header__menu {
    -webkit-transform: translateX(-55.5%);
            transform: translateX(-55.5%);
  }
}

@media screen and (min-width: 1023px) {
  .header__menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */